.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.App .summary, .App .history{
  padding: 10px;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .App{
    display: block;
  }
}

.e-box{
  margin: 50px auto;
  min-width: 400px;
  display: inline;
}

.App .heading{
  margin: 10px 0;
}

.expense .summary{
display: flex;
margin: 30px;
}
