.App {
  text-align: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .App{
    display: block;
  }
}

.e-box{
  margin: 50px auto;
  min-width: 400px;
  display: inline;
}

.App .heading{
  margin: 10px 0;
}

.expense .summary{
display: flex;
}
